/* Footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;

    color: white;
    background-color: black;
}

footer div {
    width: 260px;
    margin: 20px;
}

footer div ul {
    padding: 0;
}

footer div ul li {
    margin: 5px 0;
    list-style: none;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

footer div ul li.footer-block-heading {
    font-weight: 700;
    font-size: 1.6em;
}

footer div#footer-contact ul li.footer-block-heading {
    font-family: Lobster, Arial, sans-serif;
}

footer div ul li a {
    color: white;
}

footer div#footer-nav ul li a:hover {
    color: red;
}

footer div#footer-social ul li a {
    margin: 0 5px;
}
