/* Header */

/* Global */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 60px;
}

/* Title */
header #header-title {
    margin-left: 20px;
    font-family: Lobster, Arial, sans-serif;
    font-size: 1.5em;
}

    header #header-title a {
        color: black;
        text-decoration: none;

        transition: color 200ms ease-in-out;
    }

    header #header-title a:hover {
        color: red;
    }

/* Nav menu */
header nav {
    position: relative;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;

    font-family: Quicksand, Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
}

header nav ul li:last-of-type {
    margin-right: 20px;
}

header nav ul li a {
    padding: 5px 10px;

    color: black;
    background-color: rgba(0, 0, 0, 0);

    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

header nav ul li.nav-active a {
    color: white;
    background-color: black;
}

header nav ul li a:hover {
    color: white;
    background-color: red;
}

/* Responsive menu */

header nav div#header-menu-button {
    width: 100px;
    height: 60px;
    text-align: center;

    display: none;
}

header nav div#header-menu-button img {
    margin-top: 9px;
}

@media all and (max-width: 900px){
    header nav div#header-menu-button {
        display: block;
    }

    header nav ul {
        display: none;
    }

    header nav:hover ul {
        position: absolute;
        right: 0;
        top: 45px;
        display: flex;
        flex-direction: column;
        width: 230px;

        padding: 20px;

        background-color: white;
        border: 1px solid black;
    }

    header nav:hover ul li {
        padding: 10px;
    }
}