/* Headings */

/* main */
.section-heading-image {
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: 1920px;
}

/* style 1, 3, 4 */

    .section-heading-image.style-1, .section-heading-image.style-3, .section-heading-image.style-4 {
        height: 444px;

        background-position: center center;
        background-size: 1920px;
    }

    /* style 1 */
    .section-heading-image.style-1 {
        background-image: url("../img/home_background_img_cloud.gif");
    }

    /* style 3 */
    .section-heading-image.style-3 {
        background-image: url("../img/background_img_cloud_2.jpg");
    }

    /* style 4 */
    .section-heading-image.style-4 {
        background-image: url("../img/booking_img_header.jpg");
    }


/* style 2 */
.section-heading-image.style-2 {
    height: 700px;
}

    /* responsive adjustment */
    @media all and (min-width: 577px) and (max-width: 768px){
        .section-heading-image.style-2 {
            height: 500px;

            background-size: 1300px;
        }
    }

    @media all and (max-width: 576px){
        .section-heading-image.style-2 {
            height: 300px;

            background-size: 800px;
        }
    }