/* Fonts */

/* Quicksand */
@font-face {
    font-family: Quicksand;
    src: url("../font/Quicksand/Quicksand-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("../font/Quicksand/Quicksand-Regular.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("../font/Quicksand/Quicksand-Medium.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("../font/Quicksand/Quicksand-Bold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Lobster */
@font-face {
    font-family: Lobster;
    src: url("../font/Lobster/Lobster-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Bungee shade */
@font-face {
    font-family: "Bungee Shade";
    src: url("../font/Bungee_Shade/BungeeShade-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* global settings */
body {
    margin: 0;
    min-width: 320px;
}

body div#global-container {
    max-width: 1920px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* content sections */

/* Two blocks content sections */
section.section-two-blocks {
    display: flex;
    flex-direction: row;
    align-content: center;
}

section.section-two-blocks div {
    width: 50%;
}

    /* responsive adjustment */
    @media all and (max-width: 850px){
        /* global */
        section.section-two-blocks div{
            width: unset;
        }
        section.section-two-blocks:nth-child(odd) {
            flex-direction: column;
        }

        section.section-two-blocks:nth-child(even) {
            flex-direction: column-reverse;
        }
    }