/* home */

/* Global */
section {
    border: 1px solid black;
}

/* Two blocks content sections */
section.section-two-blocks {
    display: flex;
    flex-direction: row;
    align-content: center;

    border: 1px solid black;
}

section.section-two-blocks div {
    width: 50%;

    border: 1px solid black;
}

/* partners section */
section#section-partners {
    text-align: center;
}

section#section-partners ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid black;
}

section#section-partners ul li {
    list-style: none;
    width: 200px;
    margin: 20px;

    border: 1px solid black;
}