/* home */

/* Global */
body {
    background-image: url("../img/backgrount_picto_camera_1.svg");
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: top 350px center;
}

/* Two blocks content sections */
section.section-two-blocks {
    display: flex;
    flex-direction: row;
    align-content: center;
}

section.section-two-blocks div {
    width: 50%;
}

/* responsive system */
@media all and (max-width: 850px){
    /* global */
    section.section-two-blocks div{
        width: unset;
    }
    section.section-two-blocks:nth-child(odd) {
        flex-direction: column;
    }

    section.section-two-blocks:nth-child(even) {
        flex-direction: column-reverse;
    }
}

/* heading image section */
section#section-heading-image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 414px;

    background: url("../img/home_background_img_cloud.gif") no-repeat center center;
}

section#section-heading-image h3 {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 500;
    font-size: 4em;
    color: red;
    border: 1px solid black;
}

section#section-heading-image h3 div {
    margin: 5px;
    padding: 5px 20px;
    border: 1px solid black;
}

/* Section Announcement */
section#section-announcement {
    margin-bottom: 50px;
}

section#section-announcement div {
    padding: 20px;
}

    /* Branding block */
    section#section-announcement div#branding-block{
        text-align: right;
    }

    section#section-announcement div#branding-block p {
        margin: 0;
    }

    section#section-announcement div#branding-block p:nth-child(1){
        font-family: Lobster, Arial, sans-serif;
        font-size: 2em;
    }

    section#section-announcement div#branding-block p:nth-child(2){
        font-family: Lobster, Arial, sans-serif;
        font-size: 2.5em;
        color: red;
    }

    section#section-announcement div#branding-block p:nth-child(3){
        font-family: Quicksand, Arial, sans-serif;
        font-weight: 300;
        font-size: 2em;
    }

    /* Responsive adjustment */
    @media all and (max-width: 540px){
        section#section-announcement div#branding-block p:nth-child(2){
            font-family: Lobster, Arial, sans-serif;
            font-size: 2em;
            color: red;
        }
    }

    /* Title block */
    section#section-announcement div#title-block p:nth-child(1){
        margin: 40px 0;
        font-family: "Bungee Shade", Arial, sans-serif;
        font-size: 4em;
    }

    section#section-announcement div#title-block p:nth-child(2){
        margin: 0;
        font-family: Quicksand, Arial, sans-serif;
        font-size: 2em;
    }

    section#section-announcement div#title-block p:nth-child(2) mark {
        color: white;
        background-color: #41454D;
    }

    section#section-announcement div#title-block p:nth-child(3){
        margin: 0;
        font-family: Quicksand, Arial, sans-serif;
        font-weight: 300;
        font-size: 2em;
    }

    section#section-announcement div#title-block p:nth-child(4){
        margin: 0;
        font-family: Quicksand, Arial, sans-serif;
        font-weight: 300;
        font-size: 1em;
    }

    /* Responsive adjustment */
    @media all and (min-width: 770px) and (max-width: 1024px){
        section#section-announcement div#title-block p:nth-child(1){
            font-size: 3em;
        }
    }

    @media all and (max-width: 576px){
        /* Title block */
        section#section-announcement div#title-block p:nth-child(1){
            font-size: 3em;
        }
    }

    @media all and (max-width: 540px){
        /* Title block */
        section#section-announcement div#title-block p:nth-child(1){
            font-size: 2.5em;
        }
    }

/* content sections */

/* content block */
section#section-team {
    margin: 50px 0;
}

section.section-two-blocks div.section-content-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-two-blocks div.section-content-block div {
    width: 100%;
    padding: 20px 100px;
}

    /* title */
    section.section-two-blocks div.section-content-block h2 {
        font-family: "Bungee Shade", Arial, sans-serif;
        font-size: 3em;
    }

    /* text */
    section.section-two-blocks div.section-content-block p {
        font-family: Quicksand, Arial, sans-serif;
        font-weight: 300;
        font-size: 2em;
    }

    section.section-two-blocks div.section-content-block p mark {
        color: white;
        background-color: #41454D;
    }

    /* link */
    section.section-two-blocks div.section-content-block p a {
        font-weight: 700;
        font-size: 1em;
        padding: 0 10px;

        border: 1px solid red;
        color: red;
        transition: all 0.2s;
    }

    section.section-two-blocks div.section-content-block p a:hover {
        color: white;
        background-color: red;
        transition: all 0.2s;
    }

    /* responsive adjustments */
    @media all and (min-width: 780px) and (max-width: 1024px) {
        section.section-two-blocks div.section-content-block div {
            padding: 0 50px 20px 50px;
        }

        /* title */
        section.section-two-blocks div.section-content-block h2 {
            font-size: 2em;
        }

        /* text */
        section.section-two-blocks div.section-content-block p {
            font-size: 1.5em;
        }

        /* link */
        section.section-two-blocks div.section-content-block p a {
            font-size: 0.8em;
        }
    }

    @media all and (max-width: 576px) {
        section.section-two-blocks div.section-content-block div {
            padding: 0 50px 20px 50px;
        }

        /* title */
        section.section-two-blocks div.section-content-block h2 {
            font-size: 2em;
        }

        /* text */
        section.section-two-blocks div.section-content-block p {
            font-size: 1.5em;
        }

        /* link */
        section.section-two-blocks div.section-content-block p a {
            font-size: 0.8em;
        }
    }

/* image block */
section.section-two-blocks div.section-image-block img {
    width: 100%;
}

/* partners section */
section#section-partners {
    text-align: center;
    padding: 100px 300px;
}

    /* title */
    section#section-partners h2 {
        font-family: "Bungee Shade", Arial, sans-serif;
        font-size: 3em;
    }

    section#section-partners ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        padding: 0;
    }

    section#section-partners ul li {
        list-style: none;
        width: 200px;
        margin: 40px;
    }

    /* responsive adjustment */
    @media all and (min-width: 780px) and (max-width: 1024px){
        section#section-partners {
            padding: 100px 100px;
        }
    }

    @media all and (max-width: 768px){
        section#section-partners {
            padding: 10px 50px 40px;
        }
    }

    @media all and (max-width: 576px){
        section#section-partners h2 {
            font-size: 2em;
        }
    }



